@page
@model IdentityServer.Pages.Account.ForgotPassword.ResetLinkSentModel
@{
}
<h1>Reset link sent</h1>
<p>
    A link with reset password instructions have been sent to the given email. Please check the email.
</p>
<p>
    <a asp-page="../Login/Index" asp-route-returnUrl="">Login</a>
</p>